default: &default
  host: localhost
  user: developer
  password: 1qazxsw2
  adapter: postgres
  skip_dumping_schema_sql: true

  # docker_container: app
  # command_shell: docker

development:
  <<: *default
  db: kemal_jennifer_sample_app_development

test:
  <<: *default
  db: kemal_jennifer_sample_app_test
